USE [KIRIN]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 2021-09-20 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 2021-09-20 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](128) NOT NULL,
	[PASSWORD] [varchar](128) NULL,
	[ROLEID] [int] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([ID], [NAME]) VALUES (1, N'ROLE1')
INSERT [dbo].[ROLE] ([ID], [NAME]) VALUES (2, N'ROLE2')
INSERT [dbo].[ROLE] ([ID], [NAME]) VALUES (3, N'ROLE3')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([ID], [USERNAME], [PASSWORD], [ROLEID]) VALUES (1, N'anh_tranquoc@outlook.com', NULL, 1)
INSERT [dbo].[USER] ([ID], [USERNAME], [PASSWORD], [ROLEID]) VALUES (2, N'anh_tranquoc1@outlook.com', N'123', 2)
INSERT [dbo].[USER] ([ID], [USERNAME], [PASSWORD], [ROLEID]) VALUES (3, N'anh_tranquoc2@outlook.com', NULL, 3)
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLE] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLE] ([ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_ROLE]
GO
